
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: 'Inter',
    density: 0,
  ));
}

body {
  /* Dark mode by default */
  color-scheme: dark;
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif !important;
}
